//nav-active
$haze1-color: #0F6BAD;
// nav-hover
$haze2-color: #248BD6;
// button-search-nav //background-table-content
$haze3-color: #83B8FF;
// background-nav //background-table-content
$haze4-color: #C6CDFF;

$kermit1-color: #75BDE0;
//button-submit-form
$kermit2-color: #78D1D2;
//button-register-form
$kermit3-color: #97DBAE;
$kermit4-color: #CDE4AD;

$sunset1-color: #C848B9;
$sunset2-color: #F962A7;
$sunset3-color: #FD836D;
$sunset4-color: #FFBA69;

$red1-color:#67001f;
$red1-color:#b2182b;
//button-cancel-form
$red1-color:#d6604d;
$red1-color:#f4a582;
$red1-color:#fddbc7;

$ocean1-color:#000000;
//font
$ocean2-color:#000519;
$ocean3-color:#000a32;
$ocean4-color:#00507d;
//table-head
$ocean5-color:#0096c8 ;
$ocean6-color:#56c5b8;
$ocean7-color:#acf5a8;
//font-table-header
$ocean8-color:#d3fad3;
// background-input-nav-search
$ocean9-color:#faffff;


$black1-color:#1a1a1a;
//border-table-head
$black2-color:#4d4d4d;
//border-table-content
$black3-color:#878787;
$black4-color:#bababa;
//background-form
$black5-color:#e0e0e0;
